body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: white;
    font-family: monospace;
    background-color: #16161a;
}
::selection {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}

h1 {
    font-size: 3vh;
    font-weight: bold;
    padding-top: 3vh;
}

.imgLogo {
    width: 247px;
    height: 67px;
    cursor: pointer;
    margin-top: 18px;
    margin-left: 150px;
}
.header {
    transition: all 0.5s;
    z-index: 50;
    height: 100px;
    width: 100%;
    background-color: #ffffff00;
    position: fixed;
    margin-top: -1.96vh;
}
ul {
    float: right;
    margin-top: 36px;
    margin-right: 150px;
    user-select: none;
}

ul a {
    transition: all 0.2s;
    font-size: 19px;    
    font-family: monospace;
    padding: 10px;
    cursor: pointer;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.6);
}
ul a:hover {
    transition: all 0.2s;
    padding: 8px;
    font-size: 20px;    
    text-decoration: underline;
}

i {
    float: right;
    rotate: 180deg;
    margin-right: 3vh;
}

i::before {
    transition: all 0.13s;
}

.faq {
    position: relative;
    margin-left: 150px;
    margin-right: 150px;
    background-color: white;
    top: 25vh;
    height: auto;
    padding-bottom: 4vh;
    text-align: center;
    color: #16161a;
    border-radius: 4px;
    margin-bottom: 30vh;
}
/*.faq {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}*/

.pregunta-respuesta {
    display: none;
}

.elemento {
    transition: all 1s;
    width: 130vh;
    background-color: #24242b;
    border-radius: 10px;
    margin-top: 1.5vh;
    margin-left: 1vh;
    margin-right: 1vh;
    color: white;
    cursor: pointer;
    font-size: 1.8vh;
}

.contenedorElementos {
    width: 100%;
    height: 82%;
    overflow: hidden;
    display: inline-flex;
    margin-left: auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

p {
    margin-left: 150px;
    margin-right: 150px;
    font-size: 2.2vh;
    line-height: 30px;
    margin-bottom: 30px;
}

h3 {
    margin-left: 150px;
    margin-right: 150px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

footer {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 43vh;
    border-top: 1px solid white;
    margin-bottom: 50px;
}
footer p {
    font-size: 20px;
    margin-left: 25px;
}

footer a {
    font-size: 20px;
    margin-left: 25px;
    cursor: pointer;
}
footer a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 1365px){        
    .ulNav{
       display: none;
    }
}

.icono-rotado {
    transition: all 0.5s;
    transform: rotate(0deg);
}
/* Estilo cuando está rotado */
.icono-rotado.rotado {
    transition: all 0.5s;
    transform: rotate(270deg);
}