body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: white;
    font-family: monospace;
    background-color: #16161a;
}

footer{
    border-top: 1px solid white;
}

h1 {
    font-size: 5.8vh;
    position: absolute;
    bottom: 15vh;
    font-family: monospace;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.6);
    margin-left: 6vw;
    margin-right: 6vw;
    z-index: 10;
}
h2 {
    font-size: 3vw;
    font-family: monospace;
    border-bottom: 1px solid white;
    padding-bottom: 1.3vh;
}

h3 {
    font-size: 1.83vw;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
    
p {
    font-size: 1.46vw;
    line-height: 2.2vw;
    margin-bottom: 9vh;
}

#imagenComoFunciona{
    width: -webkit-fill-available;
    border-radius: 0.7vw;
    padding: 11%;
}

.header {
    transition: all 0.5s;
    z-index: 100;
    height: 9vh;
    width: 100%;
    background-color: #ffffff00;
    position: fixed;
}


ul {
    float: right;
    padding: 0;
    padding-right: 10vh;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul a {
    transition: all 0.3s;
    display: block;
    text-transform: uppercase;
    padding: 15px;
    font-weight: bold;
    font-size: 1.2vw;
    color:#ffffff;
    text-decoration: none;
    cursor: pointer;
}

ul a:hover {
    transition: all 0.2s;
    border-bottom: 4px solid #2aaaca;
    color: #0091b6;
}

.divTransicion{
    position: absolute;
    width: 100%;
    height: 20vh;
    bottom: 0;
    background: rgb(22,22,26);
    background: linear-gradient(0deg, rgba(22,22,26,1) 2%, rgba(0,0,0,0) 100%);
}

.contenedorImagenes {
    text-align: center;
}

.contenedorDesarrolladores {
    text-align: center;
}

.imagenesComoFunciona {
    /*width: 25.6vw;
    width: 33.4%;*/
    width: 26.6vw;
    height: 45.55vh;
    margin-bottom: 0.5vh;
    overflow: hidden;
    object-fit: cover;
    border-radius: 0.7vw;
}

.imagenesDesarrolladores {
    width: 80%;
    border-radius: 0.7vw;
}

.imagen {
    display: inline-block;
    max-width: 32vw;
    margin-bottom: 1.5vh;
}

.imagen p {
    padding-left: 3.9vh;
    padding-right: 3.9vh;
    font-size: 1.465vw;
    text-align: justify;
    margin: 0;
}

::selection {
    color: black;
    background: white;
}
.header i{
    display: none;
}

.header div{
    display: none;
}

.content{
    margin-left: 11vw;
    margin-right: 11vw;
}


@media screen and (max-width: 1080px) and (max-height: 2600px) {

    .header {
        height: 8vh;
        padding-bottom: 10vw;
    }

    .titleP{
        font-size: 10.8vw;
    }

    h2{
        font-size: 6vw;
        margin-top: 15vw;
    }

    p{
        font-size: 4.5vw;
        line-height: 5.3vw;
        margin-bottom: 10vw;
    }

    .content{
        margin-left: 9.5vw;
        margin-right: 9.5vw;
    }

    .imagenesComoFunciona{
        height: 24.55vw;
    }

    #imagenComoFunciona{
        padding: 4%;
        margin-bottom: 7%;
        margin-top: 2%;
    }

    .imagen{
        max-width: none;
        padding: 19px;
        border: 1px solid white !important;
    }

    .imagen h3{
        font-size: 4.83vw;
        margin-block-start: 2vw;
        margin-block-end: 2vw;
    }

    .imagen p {
        padding-left: 5.9vw;
        padding-right: 5.9vw;
        font-size: 3.465vw;
        text-align: justify;
        margin: 0;
        line-height: 4.8vw;
    }

    .imagenesDesarrolladores{
        width: 85%;
    }

    ul a:hover {
        transition: all 0.2s;
        text-decoration: none;
        font-size: 4.5vw;
        background: #29292f;
        padding-inline: 1vw;
        color: #0091b6;
    }

    footer{
        padding-top: 0 !important;
    }

    .btnSubir{
        background-color: #003f4e;
    }

    .btnSubir:hover{
        transition: all 0.4s;
        background-color: #008db1;
    }

    .navMenu{
        float: none;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #29292f;
        overflow: hidden;
        transition: all 0.5 ease-in-out;
    }

    .navMenu a{
        line-height: 13vw;
        font-size: 4.5vw;
    }

    .navMenu2{
        color: #ffff;
        transition: all 0.2s;
        padding: 0.8vw;
        font-size: 1.35vw;   
        cursor:pointer;
    }

    .fa-solid.fa-bars.dropdown-menu{
        margin-left: -30px;
    }
}