body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: white;
    font-family: monospace;
    background-color: #16161a;
}
::selection {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}

h1 {
    font-size: 3vh;
    padding-top: 10px;
}

h1::selection {
    color: rgb(255, 255, 255) !important;
    background: rgb(0, 0, 0) !important;
}
.imgLogo {
    width: 247px;
    height: 67px;
    cursor: pointer;
    margin-top: 18px;
    margin-left: 150px;
}
.header {
    transition: all 0.5s;
    z-index: 50;
    height: 100px;
    width: 100%;
    background-color: #ffffff00;
    position: fixed;
    margin-top: -1.96vh;
}
ul {
    float: right;
    margin-top: 36px;
    margin-right: 150px;
}

ul a {
    transition: all 0.2s;
    font-size: 19px;    
    font-family: monospace;
    padding: 10px;
    cursor: pointer;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.6);
}
ul a:hover {
    transition: all 0.2s;
    padding: 8px;
    font-size: 20px;    
    text-decoration: underline;
}

i {
    color: #ffffff;
    width: 100%;
    font-size: 13vh;
    margin-top: 1.5vh;
    margin-bottom: 3vh;
}

i::before {
    transition: all 0.13s;
}

.centro {
    position: relative;
    margin-left: 150px;
    margin-right: 150px;
    background-color: white;
    top: 30vh;
    height: auto;
    padding-bottom: 4vh;
    text-align: center;
    color: #16161a;
    border-radius: 4px;
    margin-bottom: 30vh;
}

.elemento {
    transition: all 1s;
    width: 23vh;
    height: 23vh;
    background-color: #16161a;
    border-radius: 10px;
    margin-top: 1.5vh;
    margin-left: 1vh;
    margin-right: 1vh;
    color: white;
    font-size: 2.5vh;
    user-select: none;
    cursor:pointer;
}
.elemento:hover i::before {
    font-size: 13.3vh;
}

.contenedorElementos {
    width: 100%;
    height: 82%;
    overflow: hidden;
    display: inline-flex;
    margin-left: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

p {
    margin-left: 150px;
    margin-right: 150px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 70px;
}

footer {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 63vh;
    border-top: 1px solid white;
    margin-bottom: 50px;
}
footer p {
    font-size: 20px;
    margin-left: 25px;
}

footer a {
    font-size: 20px;
    margin-left: 25px;
    cursor: pointer;
}
footer a:hover {
    text-decoration: underline;
}


/*NOTIFICACION MODAL*/

.modalFlotante {
    transition: all 0.3s;
    height: 30vh;
    width: 40vh;
    opacity: 0;
    display: none;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 110;
    border-radius: 10px;
    box-shadow: 1px 1px 12px 10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 12px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 12px 10px rgba(0,0,0,0.75);
    overflow: hidden;
}

.modalHeader {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #00000012;
}

.modalTitulo {
    color: #16161a;
    font-size: 2.5vh;
    margin: 1vh;
    display: inline-block;
    font-family: monospace;
    margin-left: 2vh;
}

.modalTitulo::selection {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}

.exit {
    color: #16161a;
    font-size: 3vh;
    position: absolute;
    right: 1px;
    width: 4vh;
    margin: 1vh;
    margin-right: 0;
    cursor: pointer;
    text-align: center;
}

.modalCuerpo {
    height: 78.1%;
    margin-top: 5vh;
    color: #16161a;
    font-family: monospace;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.modalTexto {
    font-size: 1.5vh;
    text-align: center;
}

.modalTexto::selection {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}

.modalFooter {
    background-color: #00000012;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.modalBoton {
    transition: all 0.1s;
    width: 13vh;
    height: 4vh;
    margin: 1vh;
    font-family: monospace;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
}

.modalBoton:hover {
    background-color: rgb(0, 0, 0);
    border: 3px double rgb(255, 255, 255);
    color: white;
}

.fondoModal {
    height: 100%;
    width: 100%;
    background-color: #0000004d;
    position: absolute;
    z-index: 100;
    margin: 0;
    top: 0;
    display: none;
}

/*MODAL CREAR PROYECTO*/
.modalCrearProyecto {
    transition: all 0.3s;
    height: 38vh;
    width: 55vh;
    opacity: 0;
    display: none;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius: 10px;
    box-shadow: 1px 1px 12px 10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 12px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 12px 10px rgba(0,0,0,0.75);
    overflow: hidden;
}

.modalCrearProyectoHeader {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #00000012;
}

.modalCrearProyectoTitulo {
    color: #16161a;
    font-size: 2.5vh;
    margin: 1vh;
    display: inline-block;
    font-family: monospace;
    margin-left: 2vh;
}

.modalCrearProyectoTitulo::selection {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}

.modalCrearProyectoCuerpo {
    height: 78.1%;
    margin-top: 5vh;
    color: #16161a;
    font-family: monospace;
    padding: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}

.modalCrearProyectoFooter{
    background-color: #00000012;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.modalCrearProyectoBoton {
    transition: all 0.1s;
    width: 13vh;
    height: 4vh;
    margin: 1.5vh;
    font-family: monospace;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    float: right;
}

.modalCrearProyectoBoton:hover {
    background-color: rgb(0, 0, 0);
    border: 3px double rgb(255, 255, 255);
    color: white;
}

.labelInput {
    transition: all 0.5s;
    color: #6f6f83;
    font-family: monospace;
    position: relative;
    bottom: -31px;
    font-size: 15px;
    user-select: none;
    cursor: text;

}

.input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #16161aba;
    font-size: 15px;
    font-family: monospace;
    color: #16161a;
    padding-left: 5px;
}

.input::selection {
    background-color: #16161a;
    color: white;
}

form {
    width: 98%;
    text-align: center;
    padding-left: 20px;
    padding-right: 30px;
}

option {
    background-color: #16161a;
    color: white;
}

option:hover {
    background-color: white;
}


@media screen and (max-width: 1365px){        
    .ulNav{
       display: none;
    }
}