body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: white;
    font-family: monospace;
    background-color: #16161a;
}
::selection {
    color: black;
    background: white;
}

h1 {
    font-size: 80px;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.6);
}

.contenedorContenedor {
    float: left;
    width: 50%;
    height: 100vh;
}

.contenedorTitulo {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 125px;
}

.imgLogo {
    width: 497px;
    height: 134px;
}

.lateral {
    float: right;
    width: 50%;
    height: 100vh;
}

.contenedorLogin {
    width: 28%;
    height: 60%;
    border-radius: 7px;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 124px;
}