body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: white;
    font-family: monospace;
    background-color: #16161a;
}
::selection {
    color: white;
    background: black;
    color: white;
    background: black;
}

h1 {
    font-size: 80px;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.6);
}

h2{
    color: #16161a;
    font-size: 25px;
    margin-top: -13px;
    font-weight: 100;
    padding-bottom: 15px;
    border-bottom: 1px solid #00000063;
    margin-bottom: 0;
}

label {
    transition: all 0.5s;
    color: #6f6f83;
    font-family: monospace;
    position: relative;
    bottom: -31px;
    font-size: 15px;
    user-select: none;
    cursor: text;

}

input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid #16161aba;
    font-size: 15px;
    font-family: monospace;
    color: #16161a;
    padding-left: 5px;
}

form {
    width: 80%;
    height: 80%;
    margin: 10%;
    text-align: center;
}

a{
    user-select: none;
}

#contrasenaLabel img {
    transition: all 0.4s ease 0s; 
    height: 25px; 
    position: absolute; 
    padding-left: 5px; 
    padding-right: 5px; 
    background-color: transparent; 
    top: -4px; 
    left: -35px;
    cursor: pointer;
}

.ocultar {
    display: none;
}

.mostrarError {
    transition: all 0.5s;
    margin-top: -56px;
    opacity: 0;
    color: #16161a;
    border-bottom: 1px solid #00000063;
    padding-bottom: 20px;
    padding-top: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgb(0 0 0 / 10%) 40%, rgb(0 0 0 / 10%) 60%, rgba(252,176,69,0) 100%);
}

#volver {
    transition: all 1s;
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.6);
    color: white;
    position: absolute;
    bottom: 0;
    left: -110px;
    margin: 10px;
    opacity: 0;
}

#volver:hover {
    font-size: 26px;
}

#noCuenta {
    transition: all 0.5s;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    color: #16161a;
}
#noCuenta:hover {
    font-size: 16px;
}
#continuarBoton {
    transition: all 0.5s;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 15px;
    color: #16161a;
    font-size: 15px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    border-bottom: 1px solid black;
    
}
#continuarBoton:hover{
    font-size: 16px;
}

#olvideCuenta {
    display: block;
    transition: all 0.5s;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    color: #16161a;
    margin-top: 24px;
}

#olvideCuenta:hover {
    font-size: 16px;
}

.contenedorContenedor {
    float: left;
    width: 50%;
    height: 100vh;
}

.contenedorTitulo {
    transition: all 1s;
    opacity: 0;
    transition: all 1s;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: -150px;
    margin-left: -150px;
}

.imgLogo {
    width: 615px;
    height: 157px;
    width: 615px;
    height: 157px;
}

.lateral {
    float: right;
    width: 50%;
    height: 100vh;
}

.contenedorLogin {
    transition: all 1s;
    width: 0%;
    height: 0%;
    border-radius: 10px;
    transition: all 1s;
    width: 0%;
    height: 0%;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 124px;
    overflow: hidden;
    overflow: hidden;
}