.nuevoProyecto {
    transition: all 0.1s;
    background-color: white;
    border: 1px solid black;
    height: 5vh;
    width: 17vh;
    cursor: pointer;
    font-family: monospace;
    border-radius: 3px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
#nuevoProyecto:hover{
    background-color: rgb(0, 0, 0);
    border: 3px double rgb(255, 255, 255);
    color: white;
}

#nuevoProyectoHidden {
    position: absolute;
    top: -4.5vh;
    left: 2vh;
}

#nuevoProyectoHidden:hover{
    background-color: rgb(0, 0, 0);
    border: 3px double rgb(255, 255, 255);
    color: white;
}

/*Menu de contexto personalizado*/
.menuContexto {
    transition: all 0.1s;
    position: absolute;
    color: #ffffff;
    z-index: 150;
    opacity: 0;
    display: none;
}

.ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 2px solid white;
    overflow: hidden;
    border-radius: 4px;
    font-size: 2.5vh;
}

.li {
    background-color: #16161a;
    line-height: 22px;
    cursor: pointer;
    padding: 0.5vh;
    user-select: none;
}

.li:hover {
    background-color: white;
    color: #16161a;
}