body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: white;
    font-family: monospace;
    background-color: #202024;
}

h1 {
    font-size: 70px;
    bottom: 15%;
    font-family: monospace;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.6);
    margin-left: 150px;
    margin-right: 150px;
    z-index: 10;
}

h2 {
    font-size: 30px;
    font-family: monospace;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 10px;
}

h3 {
    font-size: 25px;
}


p {
    margin-left: 150px;
    margin-right: 150px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 70px;
}

footer {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 200px;
    border-top: 1px solid white;
    margin-bottom: 50px;
}
footer p {
    font-size: 20px;
    margin-left: 25px;
}

footer a {
    font-size: 20px;
    margin-left: 25px;
    cursor: pointer;
}
footer a:hover {
    text-decoration: underline;
}

.header {
    transition: all 0.5s;
    z-index: 100;
    height: 100px;
    width: 100%;
    background-color: #ffffff00;
    position: fixed;
}

.imgLogo {
    width: 247px;
    height: 67px;
    cursor: pointer;
    margin-top: 18px;
    margin-left: 150px;
}

ul {
    float: right;
    margin-top: 36px;
    margin-right: 150px;
}

ul a {
    transition: all 0.2s;
    font-size: 19px;    
    font-family: monospace;
    padding: 10px;
    cursor: pointer;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.6);
}
ul a:hover {
    transition: all 0.2s;
    padding: 8px;
    font-size: 20px;    
    text-decoration: underline;
}

.espaciador{
    height: 150px;
}

::selection {
    color: black;
    background: white;
}

@media screen and (max-width: 1365px){        
    ul{
       display: none;
    }
}