.elementoVenta {
    height: 40vh;
    width: 95%;
    border-radius: 7px;
    background: rgb(22,22,26);
    background: linear-gradient(90deg, rgba(22,22,26,1) 0%, rgba(0,0,0,0.7651435574229692) 100%);
}

.iconoVIP {    
    height: 25vh;
    width: 25vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: white;
    border-radius: 7px;
}

.contenedorDescripcion { 
    display: flex;
    float: right;
    width: 69%;
    height: 100%;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.valorVIP {
    display: inline-block;
    font-size: 7vh;
    width: 70%;
    margin: 0 !important;
}

.descripcion {
    font-size: 20px;
    max-height: 12vh;
}

.contenedorVIP {
    float: left;
    width: 31%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comprar {
    transition: all 0.1s;
    background-color: white;
    border: 1px solid black;
    height: 5vh;
    width: 17vh;
    cursor: pointer;
    font-family: monospace;
    border-radius: 3px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.comprar:hover {
    background-color: rgb(0, 0, 0);
    border: 3px double rgb(255, 255, 255);
    color: white;
}
@media screen and (max-width: 1080px) and (max-height: 2600px) {
    .contenedorElementos {
        width: 100%;
        height: 82%;
        overflow: hidden;
        display: inline-flex;
        margin-left: auto;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .contenedorVIP {
        float: none;
        width: unset;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .elementoVenta{
        height: unset;
    }
    .contenedorDescripcion {
        display: flex;
        float: none;
        width: unset;
        height: 100%;
        color: white;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .valorVIP {
        display: inline-block;
        font-size: 6.3vw;
        width: 100%;
        margin: 0 !important;
    }
    .descripcion {
        font-size: 4vw;
        max-width: 56vw;
    }
    .comprar {
        transition: all 0.1s;
        background-color: white;
        border: 1px solid black;
        height: 7vh;
        width: 22vh;
        cursor: pointer;
        font-size: 4.7vw;
        font-family: monospace;
        border-radius: 2vw;
        margin: 2vh;
        margin-bottom: 2vh;
    }
    .contenedorVIP h2{
        font-size: 3.2vh !important;
    }
}