<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>    
    <link rel="stylesheet" type="text/css" href="css_local/lobbyStyle.css">
    <link rel="stylesheet" type="text/css" href="css_local/modal.css">
    <link rel="icon" type="image/x-icon" href="/icons/motion_pose_icon.ico">
    <link rel="stylesheet" type="text/css" href="css/all.css">
    
    <script src="js/jquery/code.jquery.com_jquery-3.7.0.min.js"></script>
    <script src="js/ayuda.js"></script>
    <script src="js/footer.js"></script>
    <script src="js/nav.js"></script>
</head>
<body>
    <div class="faq">
        <h1 class="tituloFaq">Preguntas Frecuentes</h1>
        <div class="contenedorPreguntas">
            <div class="pregunta">
                <h2 class="pregunta-titulo">¿Qué es Motion Pose?
                    <span class="fa-solid fa-chevron-right fa-rotate-90 icono-rotado"></span></h2>
                <p class="pregunta-respuesta">Motion Pose es un proyecto innovador que combina la tecnología de la visión por computadora con la anatomía humana para crear una experiencia única en el campo de diseño y el movimiento corporal.</p>
            </div>
        </div>
        <div class="contenedorPreguntas">
            <div class="pregunta">
                <h2 class="pregunta-titulo">¿Para quién está diseñado Motion Pose?
                    <span class="fa-solid fa-chevron-right fa-rotate-90 icono-rotado"></span></h2>
                <p class="pregunta-respuesta">Motion Pose está diseñado para estudiantes, profesionales de la salud, profesores de educación física y cualquier persona interesada en aprender sobre la anatomía y el movimiento corporal de una manera interactiva.</p>
            </div>
        </div>
        <div class="contenedorPreguntas">
            <div class="pregunta">
                <h2 class="pregunta-titulo">¿Ofrecen cursos específicos en Motion Pose?
                    <span class="fa-solid fa-chevron-right fa-rotate-90 icono-rotado"></span></h2>
                <p class="pregunta-respuesta">Por ahora no, pero en un futuro Motion Pose ofrecerá cursos específicos para lograr aprender a usar nuestra herramienta de una forma más profesional</p>
            </div>
        </div>
        <div class="contenedorPreguntas">
            <div class="pregunta">
                <h2 class="pregunta-titulo">¿Cuál es el costo de Motion Pose?
                    <span class="fa-solid fa-chevron-right fa-rotate-90 icono-rotado"></span></h2>
                <p class="pregunta-respuesta">Motion Pose ofrece plan de suscripción VIP y plan gratuito. Puedes encontrar más detalles en nuestra Tienda.</p>
            </div>
        </div>
        <div class="contenedorPreguntas">
            <div class="pregunta">
                <h2 class="pregunta-titulo">¿Cuales son los requisitos para usar Motion Pose MP?
                    <span class="fa-solid fa-chevron-right fa-rotate-90 icono-rotado"></span></h2>
                <h3 class="pregunta-respuesta">Requisitos Mínimos:</h3>
                <p class="pregunta-respuesta">Sistema Operativo: Windows 10 o una versión posterior.<br>Procesador: CPU con soporte SSE2.
                    Memoria RAM: 4 GB o más.<br>Espacio en Disco Duro: 10 GB o más de espacio libre.<br>Tarjeta gráfica: Compatible con DirectX 11 o equivalente, con soporte para WebGL en navegadores.<br>Conexión a Internet: Para la descarga de recursos y servicios en línea.</p>
                <h3 class="pregunta-respuesta">Requisitos Recomendados:</h3>
                <p class="pregunta-respuesta">Sistema Operativo: Windows 10 o una versión posterior.<br>Procesador: CPU de cuatro núcleos o superior.<br>Memoria RAM: 8 GB o más.<br>Espacio en Disco Duro: 20 GB o más de espacio libre.<br>Tarjeta gráfica: Tarjeta gráfica dedicada de gama media o superior, compatible con DirectX 11 y WebGL.<br>Conexión a Internet: Para la descarga de recursos y servicios en línea.</p>
            </div>
        </div>
        <!--div class="contenedorPreguntas">
            <div class="pregunta">
                <h2 class="pregunta-titulo">que es esto?
                    <span class="fa-solid fa-chevron-right fa-rotate-90 icono-rotado"></span></h2>
                <p class="pregunta-respuesta">hola</p>
            </div>
        </div-->
        <!-- Agrega más preguntas y respuestas aquí -->
    </div>
</body>
</html>