<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación</title>    
    <link rel="stylesheet" type="text/css" href="css_local/aplicacion.css">
    <link rel="stylesheet" type="text/css" href="css_local/modal.css">
    <link rel="icon" type="image/x-icon" href="/icons/motion_pose_icon.ico">
    <link rel="stylesheet" type="text/css" href="css/all.css">
    
    <script src="js/jquery/code.jquery.com_jquery-3.7.0.min.js"></script>
    <script src="js/aplicacion.js"></script>
    
    <script src="js/mediapipe/cdn.jsdelivr.net_npm_@mediapipe_control_utils@0.6_control_utils.js" crossorigin="anonymous"></script>
    <script src="js/mediapipe/cdn.jsdelivr.net_npm_@mediapipe_control_utils_3d@0.3_control_utils_3d.js" crossorigin="anonymous"></script>
    <script src="js/mediapipe/cdn.jsdelivr.net_npm_@mediapipe_drawing_utils@0.3_drawing_utils.js" crossorigin="anonymous"></script>
    <script src="js/mediapipe/cdn.jsdelivr.net_npm_@mediapipe_hands@0.4_hands.js" crossorigin="anonymous"></script>
    <script type="module" src="js/mediapipe/mpReconocimiento.mjs"></script>
</head>
<body>
    <header>
        <ul class="navOpciones">
            <li>Volver</li>
            <li>Guardar</li>
            <li>Exportar</li>
            <li>Dispositivo</li>
            <li>Opciones</li>
            <li>Shaders</li>
        </ul>
    </header>
    <div class="control-panel" style="display: none">
    </div>
    <div class="contenedorAplicacion">
        <h1 id="coordenadas" style="position: absolute;"></h1>
        <div class="contenedorUsuarioCamara">
            <video autoplay class="input_video selfie" ></video>
        </div>
        <div class="contenedorMediaPipe">
            <canvas class="output_canvas"></canvas> 
        </div>
        <div class="herramientaFooter">
            <div class="herramienta">
                <div class="titulo">
                    <span>Capturas</span>
                    <div class="tutorialSpaceBar">
                        <span>¡Presiona</span>
                        <div class="contenedorShortCuts"> 
                            <div class="keyboardBoton" style="height: 5vh; width: 11vh;">
                                <span>Espacio</span>
                            </div>
                        </div>
                        <span>para tomar capturas!</span>
                    </div>
                </div>
                
            </div>
            <div class="acciones">
                <div class="titulo">
                    <span>Acciones</span>
                    <i class="fa-solid fa-circle-info" id="ayudaBoton" title="Ayuda"></i>
                </div>
                <div class="contenedorControl">
                    <span>Tomar una captura instantánea.</span>
                    <i class="fa-solid fa-camera-retro" id="tomarCaptura" style="color: #ffffff;"></i>
                </div>
                <div class="contenedorControl">
                    <span>Tomar una captura temporizada.</span>
                    <i class="fa-solid fa-clock" id="tomarCapturaTemp" style="color: #ffffff;"></i>
                </div>
                <div id="inputContainer" style="display: none; margin-left: 2vh; width: 40vh; height: 15vh;">
                    <label for="inputSec" style="color: #ffffff;">Ingrese los segundos:</label>
                    <input type="number" value="0" min="1" max="25" style="margin-left: 5px; width: 4vh;" id="inputSec"/>
                </div>
            </div>
            <div class="ayuda ocultar">
                <div class="titulo">
                    <span>Ayuda</span>
                    <i class="fa-solid fa-circle-xmark" id="volverBoton" title="Volver"></i>
                </div>
            </div>
        </div>
    </div>
    <div id="overlay"></div>


    
    <button class="exportarBoton ocultar">Exportar</button>
</body>
</html>