<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación</title>    
    <link rel="stylesheet" type="text/css" href="css_local/aplicacion.css">
    <link rel="stylesheet" type="text/css" href="css_local/modal.css">
    <link rel="icon" type="image/x-icon" href="/icons/motion_pose_icon.ico">
    <link rel="stylesheet" type="text/css" href="css_local/style.css">
    
    <script src="js/jquery/code.jquery.com_jquery-3.7.0.min.js"></script>
    <script type="module" src="js/aplicacion.js"></script>
    
    <script src="js/three/three.min.js" crossorigin="anonymous"></script>
    <script src="js/mediapipe/cdn.jsdelivr.net_npm_@mediapipe_control_utils@0.6_control_utils.js" crossorigin="anonymous"></script>
    <!--<script src="js/mediapipe/cdn.jsdelivr.net_npm_@mediapipe_control_utils_3d@0.3_control_utils_3d.js" crossorigin="anonymous"></script>-->
    <script src="js/mediapipe/cdn.jsdelivr.net_npm_@mediapipe_drawing_utils@0.3_drawing_utils.js" crossorigin="anonymous"></script>
    <script src="js/mediapipe/cdn.jsdelivr.net_npm_@mediapipe_hands@0.4_hands.js" crossorigin="anonymous"></script>
    <script type="module" src="js/mediapipe/mpReconocimiento.mjs"></script>
    <script type="module" src="js/three/threeGraficar.mjs"></script>
</head>
<body>
    <header>
        <ul class="navOpciones">
            <li id="volver">Volver</li>
            <li id="guardar">Guardar</li>
            <li id="exportar">Exportar</li>
            <li id="dispositivo">Dispositivo</li>
            <li id="preferencias">Preferencias</li>
            <li id="shaders">Shaders</li>
        </ul>
    </header>

    <div class="modalOpciones">
        <div class="modalOpcionesTitulo">
            <span>Preferencias</span>
            <i class="fa-solid fa-xmark" id="cerrarOpciones"></i>
        </div>
        <div class="modalOpcionesCuerpo">
            <div class="contenidoOpcionesCuerpo">
                <ul>
                    <li>
                        <div class="infoOpcionesLi">
                            <i class="fa-solid fa-chevron-right flechaDesplegable"></i>
                            <span>Hola</span>
                        </div>
                        <ul style="padding-left: 2vw">
                            <li>
                                <div class="infoOpcionesLi">
                                    <span>Hola</span>
                                </div>
                            </li>
                            <li>
                                <div class="infoOpcionesLi">
                                    <span>Hola</span>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="contenidoOpcionesDerecha">
                <h2>Ajustes generales</h2>
                <div class="contenedorOpcion">
                    <div class="contenedorSpan">
                        <span>Si habilitas esta opción, el proyecto se guardará automáticamente en intervalos de 10 segundos.</span>
                    </div>
                    <div class="contenedorInput">
                        <input type="checkbox" id="opcionGuardadoAutomatico">
                        <label for="opcionGuardadoAutomatico">Guardado automático</label>
                    </div>
                </div>
                <div class="contenedorOpcion">
                    <div class="contenedorSpan">
                        <span>Este valor se usará cuando se hace una toma de captura temporizada con el atajo de teclado.</span><br>
                        <span style="color: rgb(158, 158, 158)">Puede elegir entre 1 segundo a 60 segundos.</span>
                    </div>
                    <div class="contenedorInput">
                        <input type="text" id="opcionTemporizadorSegundos">
                    </div>
                </div>

                <h2>Ajustes de exportación</h2>
                <div class="contenedorOpcion">
                    <div class="contenedorSpan">
                        <span>Puedes elegir en que formato se exportará la imagen por defecto.</span><br>
                        <span style="color: rgb(158, 158, 158)">No aparecerá la ventana de exportación si se elige una opción.</span>
                    </div>
                    <div class="contenedorInput">
                        <select id="opcionFormatoImagen">
                            <option selected value="0">Preguntar siempre</option>
                            <option value="exportarPNG">Exportar siempre en .PNG</option>
                            <option value="exportarJPEG">Exportar siempre en .JPEG</option>
                        </select>
                    </div>
                </div>
                
                <h2>Atajos de teclado</h2>
                <div class="contenedorOpcion">
                    <div class="contenedorSpan">
                        <span>Tomar una captura de imágen del modelo 3D.</span>
                    </div>
                    <div class="contenedorInput">
                        <input type="text" id="opcionesHotCaptura" style="text-align: center;">
                    </div>
                </div>
                <div class="contenedorOpcion">
                    <div class="contenedorSpan">
                        <span>Tomar una captura de imágen del modelo 3D con un temporizador.</span><br>
                        <span style="color: rgb(158, 158, 158)">El valor por defecto del temporizador al usar este atajo de teclado es de <a id="segundosTemporizador" href="#opcionTemporizadorSegundos" style="color: #549fff; text-decoration: none;">5 segundos</a>.</span>
                    </div>
                    <div class="contenedorInput">
                        <input type="text" id="opcionesHotTemporizador" style="text-align: center;">
                    </div>
                </div>
                <div class="contenedorOpcion">
                    <div class="contenedorSpan">
                        <span>Exportar las imagenes seleccionadas.</span>
                    </div>
                    <div class="contenedorInput">
                        <input type="text" id="opcionesHotExportar" style="text-align: center;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="control-panel" style="display: none">
    </div>
    <div class="contenedorAplicacion">
        <h1 id="coordenadas" style="position: absolute; color: white; width: 100%; overflow: auto;"></h1>
        <div class="contenedorUsuarioCamara">
            <video autoplay class="input_video selfie" ></video>
        </div>
        <div class="contenedorMediaPipe">
            <canvas class="output_canvas" id="output_canvas"></canvas> 
        </div>
        <div class="herramientaFooter">
            <div class="herramienta">
                <div class="titulo">
                    <span>Capturas</span>
                    <div class="tutorialSpaceBar">
                        <span>¡Presiona</span>
                        <div class="contenedorShortCuts"> 
                            <div class="keyboardBoton" style="height: 5vh; width: auto;">
                                <span>Espacio</span>
                            </div>
                        </div>
                        <span>para tomar capturas!</span>
                    </div>
                </div>
                
            </div>
            <div class="acciones">
                <div class="titulo">
                    <span>Acciones</span>
                    <i class="fa-solid fa-circle-info" id="ayudaBoton" title="Ayuda"></i>
                </div>
                <div class="contenedorControl">
                    <span>Tomar una captura instantánea.</span>
                    <i class="fa-solid fa-camera-retro" id="tomarCaptura" style="color: #ffffff;"></i>
                </div>
                <div class="contenedorControl">
                    <span>Tomar una captura temporizada.</span>
                    <i class="fa-solid fa-clock" id="tomarCapturaTemp" style="color: #ffffff;"></i>
                </div>
                <div id="inputContainer" style="display: none; margin-left: 2vh; width: 40vh;">
                    <label for="inputSec" style="color: #ffffff;">Ingrese los segundos:</label>
                    <input type="number" style="margin-left: 5px; width: 4vh;" id="inputSec"/>
                </div>
                <div class="contenedorControl">
                    <span>Exportar.</span>
                    <i class="fa-solid fa-file-export" id="exportarImagenes" style="color: #ffffff;"></i>
                </div>
            </div>
            <div class="ayuda ocultar">
                <div class="titulo">
                    <span>Ayuda</span>
                    <i class="fa-solid fa-circle-xmark" id="volverBoton" title="Volver"></i>
                </div>
            </div>
        </div>
    </div>
    <div id="overlay"></div>


    
    <button class="exportarBoton ocultar">Exportar</button>
</body>
</html>