<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación</title>    
    <link rel="stylesheet" type="text/css" href="css_local/aplicacion.css">
    <link rel="icon" type="image/x-icon" href="/icons/motion_pose_icon.ico">
    <link rel="stylesheet" type="text/css" href="css/all.css">
    
    <script src="js/jquery/code.jquery.com_jquery-3.7.0.min.js"></script>
    <script src="js/aplicacion.js"></script>
</head>
<body>
    
</body>
</html>