<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>    
    <link rel="stylesheet" type="text/css" href="css_local/lobbyStyle.css">
    <link rel="icon" type="image/x-icon" href="/icons/motion_pose_icon.ico">
    <link rel="stylesheet" type="text/css" href="css/all.css">
    
    <script src="js/jquery/code.jquery.com_jquery-3.7.0.min.js"></script>
    <script src="js/lobby.js"></script>
    <script src="js/nav.js"></script>
</head>
<body>
    <div class="centro">
        <h1>¿Cómo quieres comenzar?</h1>
        <div class="contenedorElementos">
            <div class="elemento" id="imagenElemento">
                <i class="fa-solid fa-file-image" style="color: #ffffff;"></i>
                Imagen
            </div>
            <div class="elemento" id="videoElemento">
                <i class="fa-solid fa-file-video" style="color: #ffffff;"></i>
                Video
            </div>
            <div class="elemento" id="3dElemento">
                <i class="fa-solid fa-cube" style="color: #ffffff;"></i>
                3D
            </div>
            <div class="elemento" id="animacionElemento">
                <i class="fa-solid fa-hand-sparkles" style="color: #ffffff;"></i>
                Animación
            </div>
        </div>
    </div>
    <div class="modalCrearProyecto">
        <div class="modalCrearProyectoHeader">
            <div class="modalCrearProyectoTitulo">Creando nuevo proyecto</div>
            <i class="fa-solid fa-xmark exit" style="color: #16161a;" id="cerrarVentana"></i>
        </div>
        <div class="modalCrearProyectoCuerpo">
            <form>
                <div style="margin-top: 10px">
                    <label id="nombreLabel" for="nombre" class="labelInput" >Nombre del proyecto</label>
                    <input id="nombre" type="text" class="input" maxlength="30">
                </div>
                <select name="select" class="input" id="selectorElemento" style="width: 102.5%; height: 43px;">
                    <option value="imagen">Imagen</option>
                    <option value="video">Video</option>
                    <option value="3d">3D</option>
                    <option value="animacion">Animación</option>
                  </select>
            </form>
        </div>
        <div class="modalCrearProyectoFooter">
            <button class="modalCrearProyectoBoton" id="siguienteModal">Siguiente</button>
            <button class="modalCrearProyectoBoton" id="cancelarModal">Cancelar</button>
        </div>
    </div>
    <footer>
        <p>
            Motion Pose MP ~ 2023
        </p>
        <a>Políticas de privacidad</a>
        <a>Términos y condiciones</a>
        <a>Manual de usuario</a>
        <a id="volverArriba" style="float: right;">Volver arriba</a>
    </footer>
</body>
</html>