<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>    
    <link rel="stylesheet" type="text/css" href="css_local/loginStyle.css">
    <link rel="icon" type="image/x-icon" href="/icons/motion_pose_icon.ico">
    
    <script src="js/jquery/code.jquery.com_jquery-3.7.0.min.js"></script>
    <script src="js/lobby.js"></script>
</head>
<body>
    <h1>Bienvenido al lobby</h1>
    <p id="test"></p>
</body>
</html>