<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>    
    <link rel="stylesheet" type="text/css" href="css_local/loginStyle.css">
    <link rel="icon" type="image/x-icon" href="/icons/motion_pose_icon.ico">
    
    <script src="js/jquery/code.jquery.com_jquery-3.7.0.min.js"></script>
    <script src="js/login.js"></script>
</head>
<body>
    <div class="contenedorContenedor">
        <div class="contenedorTitulo">
            <img src="img/motion_pose_background4.png" class="imgLogo" alt="Motion Pose Logo">
        </div>
        <a id="volver" href="/">Volver</a>
        <a id="volver" href="/">Volver</a>
    </div>
    <div class="lateral">
        <div class="contenedorLogin">
            <form>
                <h2>Soy usuario</h2>
                <div class="mostrarError">
                </div>
                <div style="margin-top: 10px">
                    <label id="correoLabel" for="correo">Correo Electrónico</label>
                    <input id="correo" type="mail" value="test@test.test">
                </div>
                <div>
                    <label id="contrasenaLabel" style="left: 16px;" for="contrasena"><img src="icons/hide.png" title="Mostrar contraseña">Contraseña</label>
                    <input id="contrasena" type="password" value="Tester_123">
                </div>
                <a id="noCuenta">No tengo una cuenta</a>
                <a id="continuarBoton">Continuar</a>
                <a id="olvideCuenta" type="submit">Olvidé mi cuenta</a>
            </form>
        </div>
    </div>

    
</body>
</html>