<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/icons/motion_pose_icon.ico">
    <title>Manual de usuario</title>

    <link rel="stylesheet" type="text/css" href="css_local/manualStyle.css">
    <link rel="icon" type="image/x-icon" href="/icons/motion_pose_icon.ico">
    <link rel="stylesheet" type="text/css" href="css_local/style.css">
    
    <script src="js/jquery/code.jquery.com_jquery-3.7.0.min.js"></script>
    <script src="js/manual.js"></script>
    <script src="js/footer.js"></script>
    
</head>
<body>

    <body>
        <div class="header">
            <img src="img/motion_pose_background4.png" class="imgLogo">
            <div></div>
              <i class="fa-solid fa-bars dropdown-menu"></i>
            <ul class="navMenu">
                <a class="navMenu2" id="probar">Probar</a>
                <a class="navMenu2" id="inicio">Volver a Inicio</a>
            </ul>
        </div>
        <div class="espaciador"></div>
        <h1>Manual de usuario</h1>
        <h2>ÚLTIMA ACTUALIZACIÓN: 03 de Noviembre de 2023</h2>

        <h6>  Esta política de privacidad establece cómo MOTION POSE usa y protege toda la información que Ud. proporciona al utilizar este sitio web. MOTION POSE está comprometido en la protección de su privacidad. Si le pedimos que nos proporcione cierta información por la cual usted puede ser identificado al usar este sitio web, puede estar seguro de que sólo se utilizará de acuerdo con esta declaración de privacidad. MOTION POSE puede cambiar esta política en cualquier momento actualizando esta página. Usted debe visitar esta página periódicamente para asegurarse de que está de acuerdo con los cambios.</h6>

        <div class="contenedor">
            <aside>
                <div class="contenedor-temario" id="temario">
                    <h3 class="titulo">Ir a contenido:</h3>
                    <ul class="lista">
                        <li><a href="#1">1. Inicio de Sesión</a></li>
                        <li><a href="#2">2. Suscripciones</a></li>
                        <li><a href="#3">3. VIP</a></li>
                        <li><a href="#4">4. Super VIP</a></li>
                        <li><a href="#5">5. Pasos</a></li>
                        <li><a href="#6">6. Gratuito</a></li>
                        <li><a href="#7">7. Como capturar</a></li>
                        <li><a href="#8">8. Proyectos</a></li>
                    </ul>
                </div>
            </aside>
            <main>
                <div class="card" id="1">
                    <h5>1. Inicio de Sesión</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus
                        autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia. Ad, quasi illum. Lorem 
                        ipsum dolor sit, amet consectetur adipisicing elit. Consequatur libero mollitia unde at adipisci itaque, perspiciatis
                         cupiditate aliquam eligendi esse doloribus dolor quis. Quibusdam officia culpa laborum tenetur? Excepturi, blanditiis!
                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus
                         autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia. Ad, quasi illum. Lorem 
                         ipsum dolor sit, amet consectetur adipisicing elit. Consequatur libero mollitia unde at adipisci itaque, perspiciatis
                          cupiditate aliquam eligendi esse doloribus dolor quis. Quibusdam officia culpa laborum tenetur? Excepturi, blanditiis!</p>
                </div>
                <div class="card" id="2">
                    <h5>2. Suscripciones</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus
                        autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia. Ad, quasi illum. Lorem 
                        ipsum dolor sit, amet consectetur adipisicing elit. Consequatur libero mollitia unde at adipisci itaque, perspiciatis
                         cupiditate aliquam eligendi esse doloribus dolor quis. Quibusdam officia culpa laborum tenetur? Excepturi, blanditiis!
                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus
                         autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia. Ad, quasi illum. Lorem 
                         ipsum dolor sit, amet consectetur adipisicing elit. Consequatur libero mollitia unde at adipisci itaque, perspiciatis
                          cupiditate aliquam eligendi esse doloribus dolor quis. Quibusdam officia culpa laborum tenetur? Excepturi, blanditiis!</p>
                </div>
                <div class="card" id="3">
                    <h5>3. VIP</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus
                        autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia. Ad, quasi illum. Lorem 
                        ipsum dolor sit, amet consectetur adipisicing elit. Consequatur libero mollitia unde at adipisci itaque, perspiciatis
                         cupiditate aliquam eligendi esse doloribus dolor quis. Quibusdam officia culpa laborum tenetur? Excepturi, blanditiis!
                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus
                         autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia. Ad, quasi illum. Lorem 
                         ipsum dolor sit, amet consectetur adipisicing elit. Consequatur libero mollitia unde at adipisci itaque, perspiciatis
                          cupiditate aliquam eligendi esse doloribus dolor quis. Quibusdam officia culpa laborum tenetur? Excepturi, blanditiis!</p>
                </div>
                <div class="card" id="4">
                    <h5>4. Super VIP</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus
                        autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia. Ad, quasi illum. Lorem 
                        ipsum dolor sit, amet consectetur adipisicing elit. Consequatur libero mollitia unde at adipisci itaque, perspiciatis
                         cupiditate aliquam eligendi esse doloribus dolor quis. Quibusdam officia culpa laborum tenetur? Excepturi, blanditiis!
                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus
                         autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia. Ad, quasi illum. Lorem 
                         ipsum dolor sit, amet consectetur adipisicing elit. Consequatur libero mollitia unde at adipisci itaque, perspiciatis
                          cupiditate aliquam eligendi esse doloribus dolor quis. Quibusdam officia culpa laborum tenetur? Excepturi, blanditiis!</p>
                </div>
                <div class="card" id="5">
                    <h5>5. Pasos</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus
                        autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia. Ad, quasi illum. Lorem 
                        ipsum dolor sit, amet consectetur adipisicing elit. Consequatur libero mollitia unde at adipisci itaque, perspiciatis
                         cupiditate aliquam eligendi esse doloribus dolor quis. Quibusdam officia culpa laborum tenetur? Excepturi, blanditiis!
                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus
                         autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia. Ad, quasi illum. Lorem 
                         ipsum dolor sit, amet consectetur adipisicing elit. Consequatur libero mollitia unde at adipisci itaque, perspiciatis
                          cupiditate aliquam eligendi esse doloribus dolor quis. Quibusdam officia culpa laborum tenetur? Excepturi, blanditiis!</p>
                </div>
                <div class="card" id="6">
                    <h5>6. Gratuito</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus
                        autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia. Ad, quasi illum. Lorem 
                        ipsum dolor sit, amet consectetur adipisicing elit. Consequatur libero mollitia unde at adipisci itaque, perspiciatis
                         cupiditate aliquam eligendi esse doloribus dolor quis. Quibusdam officia culpa laborum tenetur? Excepturi, blanditiis!
                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus
                         autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia. Ad, quasi illum. Lorem 
                         ipsum dolor sit, amet consectetur adipisicing elit. Consequatur libero mollitia unde at adipisci itaque, perspiciatis
                          cupiditate aliquam eligendi esse doloribus dolor quis. Quibusdam officia culpa laborum tenetur? Excepturi, blanditiis!</p>
                </div>
                <div class="card" id="7">
                    <h5>7. Como capturar</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus
                        autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia. Ad, quasi illum. Lorem 
                        ipsum dolor sit, amet consectetur adipisicing elit. Consequatur libero mollitia unde at adipisci itaque, perspiciatis
                         cupiditate aliquam eligendi esse doloribus dolor quis. Quibusdam officia culpa laborum tenetur? Excepturi, blanditiis!
                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus
                         autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia. Ad, quasi illum. Lorem 
                         ipsum dolor sit, amet consectetur adipisicing elit. Consequatur libero mollitia unde at adipisci itaque, perspiciatis
                          cupiditate aliquam eligendi esse doloribus dolor quis. Quibusdam officia culpa laborum tenetur? Excepturi, blanditiis!</p>
                </div>
                <div class="card" id="8">
                    <h5>8. Proyectos</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus
                        autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia. Ad, quasi illum. Lorem 
                        ipsum dolor sit, amet consectetur adipisicing elit. Consequatur libero mollitia unde at adipisci itaque, perspiciatis
                         cupiditate aliquam eligendi esse doloribus dolor quis. Quibusdam officia culpa laborum tenetur? Excepturi, blanditiis!
                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus
                         autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia. Ad, quasi illum. Lorem 
                         ipsum dolor sit, amet consectetur adipisicing elit. Consequatur libero mollitia unde at adipisci itaque, perspiciatis
                          cupiditate aliquam eligendi esse doloribus dolor quis. Quibusdam officia culpa laborum tenetur? Excepturi, blanditiis!</p>
                </div>
            </main>
        </div>
    
    </body>

</body>
</html>