<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Cuenta</title>    
    <link rel="stylesheet" type="text/css" href="css_local/lobbyStyle.css">
    <link rel="stylesheet" type="text/css" href="css_local/miCuentaStyle.css">
    <link rel="stylesheet" type="text/css" href="css_local/modal.css">
    <link rel="icon" type="image/x-icon" href="/icons/motion_pose_icon.ico">
    <link rel="stylesheet" type="text/css" href="css_local/style.css">
    
    <script src="js/jquery/code.jquery.com_jquery-3.7.0.min.js"></script>
    <script src="js/miCuenta.js"></script>
    <script src="js/footer.js"></script>
    <script src="js/nav.js"></script>
</head>
<body>
    <div class="centro">
        <h1 style="padding-bottom: 1vh;">Información</h1> 
        <div class="mensaje ocultar">
        </div>
        <div class="contenedorElementos">
            
            <div class="contenedor">
                <label for="usuario">Nombre de usuario</label>
                <input id="usuario" class="noEditable" type="text" readonly>
                <i class="fa-solid fa-pencil" id="usuarioLapiz"></i>
            </div>

            <div class="contenedor">
                <label for="correo">Correo electrónico</label>
                <input id="correo" class="noEditable" type="email" readonly>
                <i class="fa-solid fa-pencil" id="correoLapiz"></i>
            </div>

            <div class="contenedor">
                <label for="contrasena">Contraseña</label>
                <input id="contrasena" class="noEditable" type="password" readonly>
                <i class="fa-solid fa-pencil" id="contrasenaLapiz"></i>
            </div>

            <div class="contenedor">
                <label for="membresia">Membresía</label>
                <input id="membresia" class="noEditable" type="text" readonly>
            </div>

            <div class="contenedor">
                <button class="remover" id="aceptarCambios">Aceptar cambios</button>
            </div>

        </div>
        <h1 style="border-top: 2px solid #c7c7c7; padding-bottom: 1vh;">Historial de compras</h1>
        <div class="contenedorElementos" id="historialCompras">
            <h2 id="mensaje">Por el momento no tienes compras.</h2>  
        </div>
    </div>
</body>
</html>