<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Políticas de privacidad</title>
    <link rel="stylesheet" type="text/css" href="css_local/politicasStyle.css">
    <link rel="stylesheet" type="text/css" href="css_local/modal.css">
    <link rel="icon" type="image/x-icon" href="/icons/motion_pose_icon.ico">
    <link rel="stylesheet" type="text/css" href="css_local/style.css">
    
    <script src="js/jquery/code.jquery.com_jquery-3.7.0.min.js"></script>
    <script src="js/politicas.js"></script>
    <script src="js/footer.js"></script>
</head>
<body>

    <body>
        <div class="header">
            <img src="img/motion_pose_background4.png" class="imgLogo">
            <div></div>
              <i class="fa-solid fa-bars dropdown-menu"></i>
            <ul class="navMenu">
                <a class="navMenu2" id="probar">Probar</a>
                <a class="navMenu2" id="inicio">Volver a Inicio</a>
            </ul>
        </div>
        <div class="espaciador"></div>
        <h1>Políticas de privacidad</h1>
        <h2 class="sub">ÚLTIMA ACTUALIZACIÓN: 03 de Noviembre de 2023</h2>

        <p>  Esta política de privacidad establece cómo MOTION POSE usa y protege toda la información que Ud. proporciona al utilizar este sitio web. MOTION POSE está comprometido en la protección de su privacidad. Si le pedimos que nos proporcione cierta información por la cual usted puede ser identificado al usar este sitio web, puede estar seguro de que sólo se utilizará de acuerdo con esta declaración de privacidad. MOTION POSE puede cambiar esta política en cualquier momento actualizando esta página. Usted debe visitar esta página periódicamente para asegurarse de que está de acuerdo con los cambios.</p>

        <div class="contenedorPreguntas">
            <div class="pregunta2">
                <div class="pie"></div>
                <h3 class="pregunta-titulo">¿Qué recogemos?</h3>
                <h4 class="pregunta-titulo">Podemos recoger la siguiente información:</h4>
            </div>
        </div>

        <div class="contenedorPreguntas">
            <div class="pregunta">
                <h2 class="pregunta-titulo">1.1 Datos que nos proporcionas.
                    <span class="fa-solid fa-chevron-right fa-rotate-90 icono-rotado"></span></h2>
                <p class="pregunta-respuesta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia.</p>
            </div>
        </div>
        <div class="contenedorPreguntas">
            <div class="pregunta">
                <h2 class="pregunta-titulo">1.2 Datos que recogemos cuando usas Motion Pose.
                    <span class="fa-solid fa-chevron-right fa-rotate-90 icono-rotado"></span></h2>
                <p class="pregunta-respuesta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia.</p>
            </div>
        </div>
        <div class="contenedorPreguntas">
            <div class="pregunta">
                <h2 class="pregunta-titulo">1.3 Datos que recibimos de terceros.
                    <span class="fa-solid fa-chevron-right fa-rotate-90 icono-rotado"></span></h2>
                <p class="pregunta-respuesta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia.</p>
            </div>
        </div>


        <div class="espaciador"></div>
        


        <div class="contenedorPreguntas">
            <div class="pregunta2">
                <div class="pie"></div>
                <h3 class="pregunta-titulo">¿Con qué finalidad se tratan mis datos?</h3>
                <h4 class="pregunta-titulo">Para hacer de Motion Pose el servicio que conoces.</h4>
            </div>
        </div>

        <div class="contenedorPreguntas">
            <div class="pregunta">
                <h2 class="pregunta-titulo">2.1 Como tratamos tus datos.
                    <span class="fa-solid fa-chevron-right fa-rotate-90 icono-rotado"></span></h2>
                <p class="pregunta-respuesta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia.</p>
            </div>
        </div>
        <div class="contenedorPreguntas">
            <div class="pregunta">
                <h2 class="pregunta-titulo">2.2 Prestar, mejorar y personalizar nuestro servicios.
                    <span class="fa-solid fa-chevron-right fa-rotate-90 icono-rotado"></span></h2>
                <p class="pregunta-respuesta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia.</p>
            </div>
        </div>
        <div class="contenedorPreguntas">
            <div class="pregunta">
                <h2 class="pregunta-titulo">2.3 Fomentar la seguridad.
                    <span class="fa-solid fa-chevron-right fa-rotate-90 icono-rotado"></span></h2>
                <p class="pregunta-respuesta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia.</p>
            </div>
        </div>
        <div class="contenedorPreguntas">
            <div class="pregunta">
                <h2 class="pregunta-titulo">2.4 Medir, analizar y mejorar nuestros servicios.
                    <span class="fa-solid fa-chevron-right fa-rotate-90 icono-rotado"></span></h2>
                <p class="pregunta-respuesta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia.</p>
            </div>
        </div>
        <div class="contenedorPreguntas">
            <div class="pregunta">
                <h2 class="pregunta-titulo">2.5 Estudios.
                    <span class="fa-solid fa-chevron-right fa-rotate-90 icono-rotado"></span></h2>
                <p class="pregunta-respuesta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia.</p>
            </div>
        </div>


        <div class="espaciador"></div>



        <div class="contenedorPreguntas">
            <div class="pregunta2">
                <div class="pie"></div>
                <h3 class="pregunta-titulo">¿Cómo puedo controlar mis datos?</h3>
                <h4 class="pregunta-titulo">Puedes acceder, eliminar o cambiar tu configuración.</h4>
            </div>
        </div>

        <div class="contenedorPreguntas">
            <div class="pregunta">
                <h2 class="pregunta-titulo">3.1 Toma el control.
                    <span class="fa-solid fa-chevron-right fa-rotate-90 icono-rotado"></span></h2>
                <p class="pregunta-respuesta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia.</p>
            </div>
        </div>
        <div class="contenedorPreguntas">
            <div class="pregunta">
                <h2 class="pregunta-titulo">3.2 Acceso y rectificación.
                    <span class="fa-solid fa-chevron-right fa-rotate-90 icono-rotado"></span></h2>
                <p class="pregunta-respuesta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia.</p>
            </div>
        </div>
        <div class="contenedorPreguntas">
            <div class="pregunta">
                <h2 class="pregunta-titulo">3.3 Eliminación de tus datos.
                    <span class="fa-solid fa-chevron-right fa-rotate-90 icono-rotado"></span></h2>
                <p class="pregunta-respuesta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia.</p>
            </div>
        </div>
    
    </body>

</body>
</html>