<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>    
    <link rel="stylesheet" type="text/css" href="css_local/registroStyle.css">
    <link rel="icon" type="image/x-icon" href="/icons/motion_pose_icon.ico">
    <script src="js/jquery/code.jquery.com_jquery-3.7.0.min.js"></script>
    <script src="js/registro.js"></script>
</head>
<body>
    <div class="contenedorContenedor">
        <div class="contenedorTitulo">
            <img src="img/motion_pose_background4.png" class="imgLogo" alt="Motion Pose Logo">
        </div>
        <a id="volver">Volver</a>
    </div>
    <div class="lateral">
        <div class="contenedorLogin">
            <form>
                <h2>No soy usuario</h2>
                <div class="mostrarError">
                </div>
                <div style="margin-top: 10px;">
                    <label id="nombreLabel" for="nombre">Nombre de usuario</label>
                    <input id="nombre" type="text">
                </div>
                <div>
                    <label id="correoLabel" for="correo">Correo Electrónico</label>
                    <input id="correo" type="mail">
                </div>
                <div>
                    <label id="contrasenaLabel" for="contrasena">Contraseña</label>
                    <input id="contrasena" type="password">
                </div>
                <div>
                    <label id="contrasenaLabelConfirmar" for="contrasenaConfirmar">Confirmar Contraseña</label>
                    <input id="contrasenaConfirmar" type="password">
                </div>
                <div class="contenedorTerminos">
                    <input type="checkbox" id="aceptarTerminos">
                    <label id="terminos">Acepto los términos y condiciones</label>
                </div>
                <a id="registrarseBoton">Registrarse</a>
            </form>
        </div>
    </div>

    
</body>
</html>