<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css_local/indexStyle.css">
    <link href="css/fontawesome.css" type="text/css" rel="stylesheet">
    <link href="css/brands.css" type="text/css" rel="stylesheet">
    <link href="css/solid.css" type="text/css" rel="stylesheet">
    <title>Motion Pose MP</title>
</head>

<body>
    <div class="header">
        <img src="img/motion_pose_background4.png" class="imgLogo">
        <ul>
            <a >Probar</a>
            <a id="actualizaciones">Actualizaciones</a>
            <a id="que" >¿Qué es?</a>
            <a id="comoFunciona">¿Cómo funciona?</a>
            <a id="quienesSomos">¿Quiénes somos?</a>
        </ul>
    </div>
    <h1>Creamos herramientas para artístas.</h1>
    <div class="divTransicion"></div>
    <video autoplay muted loop>
        <source src="video/background_video2.mp4" type=video/mp4>
    </video>
    
    <h2 id="actualizacionesParrafo">Últimas actualizaciones</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus
    autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia. Ad, quasi illum. Lorem 
    ipsum dolor sit, amet consectetur adipisicing elit. Consequatur libero mollitia unde at adipisci itaque, perspiciatis
     cupiditate aliquam eligendi esse doloribus dolor quis. Quibusdam officia culpa laborum tenetur? Excepturi, blanditiis!
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus
     autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia. Ad, quasi illum. Lorem 
     ipsum dolor sit, amet consectetur adipisicing elit. Consequatur libero mollitia unde at adipisci itaque, perspiciatis
      cupiditate aliquam eligendi esse doloribus dolor quis. Quibusdam officia culpa laborum tenetur? Excepturi, blanditiis!</p>
    <h2 id="queParrafo">¿Qué es Motion Pose MP?</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus
    autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia. Ad, quasi illum. Lorem 
    ipsum dolor sit, amet consectetur adipisicing elit. Consequatur libero mollitia unde at adipisci itaque, perspiciatis
     cupiditate aliquam eligendi esse doloribus dolor quis. Quibusdam officia culpa laborum tenetur? Excepturi, blanditiis!
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus
     autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia. Ad, quasi illum. Lorem 
     ipsum dolor sit, amet consectetur adipisicing elit. Consequatur libero mollitia unde at adipisci itaque, perspiciatis
      cupiditate aliquam eligendi esse doloribus dolor quis. Quibusdam officia culpa laborum tenetur? Excepturi, blanditiis!</p>
    <div class="contenedorImagenes">
        <img src ="img/imagen1.png" class="imagenesComoFunciona">
        <img src ="img/imagen1.png" class="imagenesComoFunciona">
        <img src ="img/imagen1.png" class="imagenesComoFunciona">
        <img src ="img/imagen1.png" class="imagenesComoFunciona">
    </div>
    <h2 id="comoFuncionaParrafo">¿Cómo funciona Motion Pose MP?</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus
    autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia. Ad, quasi illum. Lorem 
    ipsum dolor sit, amet consectetur adipisicing elit. Consequatur libero mollitia unde at adipisci itaque, perspiciatis
     cupiditate aliquam eligendi esse doloribus dolor quis. Quibusdam officia culpa laborum tenetur? Excepturi, blanditiis!
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus
     autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia. Ad, quasi illum. Lorem 
     ipsum dolor sit, amet consectetur adipisicing elit. Consequatur libero mollitia unde at adipisci itaque, perspiciatis
      cupiditate aliquam eligendi esse doloribus dolor quis. Quibusdam officia culpa laborum tenetur? Excepturi, blanditiis!</p>
    <img src="img/mediapipe_ejemplos.png" id="imagenComoFunciona">
    <h2 id="quienesSomosParrafo">¿Quiénes son los creadores de Motion Pose MP?</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus
    autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia. Ad, quasi illum. Lorem 
    ipsum dolor sit, amet consectetur adipisicing elit. Consequatur libero mollitia unde at adipisci itaque, perspiciatis
     cupiditate aliquam eligendi esse doloribus dolor quis. Quibusdam officia culpa laborum tenetur? Excepturi, blanditiis!
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolores. Ex deleniti, animi qui modi temporibus
     autem accusantium inventore rerum obcaecati, corrupti cumque fuga esse repudiandae officia. Ad, quasi illum. Lorem 
     ipsum dolor sit, amet consectetur adipisicing elit. Consequatur libero mollitia unde at adipisci itaque, perspiciatis
      cupiditate aliquam eligendi esse doloribus dolor quis. Quibusdam officia culpa laborum tenetur? Excepturi, blanditiis!</p>
    <div class="contenedorDesarrolladores">
        <div class="imagen" style="border-right: 1px solid white; border-left: 1px solid white;">
            <img src ="img/fotoPerfil.png" class="imagenesDesarrolladores">
            <h3>
                Mathias Garthoff
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate molestiae minima culpa reprehenderit at qui,
                 accusantium sit facere excepturi dolorum magni eius corrupti incidunt rem hic vero consequuntur velit aliquid.
            </p>
        </div>
        <div class="imagen">
            <img src ="img/fotoPerfil.png" class="imagenesDesarrolladores">
            <h3>
                Camilo Pereira
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate molestiae minima culpa reprehenderit at qui,
                 accusantium sit facere excepturi dolorum magni eius corrupti incidunt rem hic vero consequuntur velit aliquid.
            </p>
        </div>
        <div class="imagen" style="border-left: 1px solid white; border-right: 1px solid white;">
            <img src ="img/fotoPerfil.png" class="imagenesDesarrolladores">
            <h3>
                Damari Lay
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate molestiae minima culpa reprehenderit at qui,
                 accusantium sit facere excepturi dolorum magni eius corrupti incidunt rem hic vero consequuntur velit aliquid.
            </p>
        </div>
    </div>
    <footer>
        <p>
            Motion Pose MP ~ 2023
        </p>
        <a>Políticas de privacidad</a>
        <a>Términos y condiciones</a>
        <a>Manual de usuario</a>
        <a id="volverArriba" style="float: right;">Volver arriba</a>
    </footer>

    <script src="js/jquery/code.jquery.com_jquery-3.7.0.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>